<app-menu></app-menu>
<p-panel header="Cambio de Password">
    <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input id="txtPassword" type="password" size="30" pPassword [(ngModel)]="password"
                    placeholder="Password Actual" />
            </div>
        </div>
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input id="txtPassword" type="password" size="30" pPassword [(ngModel)]="nvoPassword"
                    placeholder="Password Nuevo" />
            </div>
        </div>
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input id="txtPassword" type="password" size="30" pPassword [(ngModel)]="nvoPasswordRep"
                    placeholder="Confirmación Password Nuevo" />
            </div>
        </div>

        <button pButton type="button" label="Acceder" (click)="validaCampos()"></button>
        <p-messages [(value)]="msgs"></p-messages>

    </div>

</p-panel>